/*

/*variables*/

$mainColor: rgb(27, 27, 27);
$whiteColor: white;
$greyColor: rgb(56, 54, 54);
$blackColor:black;
$danger:#c2adad;

/*
/*

/*tamaños*/

$width:100%;
$heigth: 500px;
$w-25:25%;
$w-50:50%;
$w-75:75%;
$w-100:100%;

/*
/*
/*display */

$d-flex:flex;
$d-block:block;
$d-inline:inline;

/*
/*
/*color del texto */

$colorTitulo:#306474;