@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
$fontMain: 'roboto',
sans-serif;

/*Tamaños*/

$fontSizeSmall:0.9rem;
$fontSizeMedium:1rem;
$fontSizeBig:1.5rem;
$fontSizeXxl:2rem;
$fontSizeError404: 2.3rem;